.action-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f5f5;
  color: #666;
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-transform: lowercase;
  cursor: pointer;
  animation: opacity-pulse 3s ease-in infinite;
  transition: all 0.2s ease-in-out;
  width: 48px;
  height: 48px;
  border-radius: 18px;
  border: 1px solid rgba(0, 0, 0, 0);
  user-select: none;
  cursor: pointer;

  &:focus {
    border: 2px solid #f5f5f5;
    outline: 2px solid #333;
  }

  &.outlined {
    background: #fefefe;
    border: 1px solid #f5f5f5;
  }

  .no-action {
    pointer-events: none;
  }

  &:hover {
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid #f5f5f5;
  }

  &.connected {
    background: #1e40af;
    color: #60a5fa;

    &:hover {
      border: 1px solid #60a5fa;
    }
  }
}

@property --volume {
  syntax: "length";
  inherit: false;
  initial-value: 0px;
}

.disabled .mic-button,
.mic-button.disabled {
  &:before {
    background: rgba(0, 0, 0, 0);
  }
}

.mic-button {
  position: relative;
  background-color: #ef4444;
  z-index: 1;
  color: black;
  transition: all 0.2s ease-in;

  &:focus {
    border: 2px solid #f5f5f5;
    outline: 2px solid #ef4444;
  }

  &:hover {
    background-color: #f87171;
  }

  &:before {
    position: absolute;
    z-index: -1;
    top: calc(var(--volume, 0px) * -1);
    left: calc(var(--volume, 0px) * -1);
    display: block;
    content: "";
    opacity: 0.35;
    background-color: #ef4444;
    width: calc(100% + var(--volume, 0px) * 2);
    height: calc(100% + var(--volume, 0px) * 2);
    border-radius: 24px;
    transition: all 0.02s ease-in-out;
  }
}

.connect-toggle {
  &:focus {
    border: 2px solid #f5f5f5;
    outline: 2px solid #333;
  }

  &:not(.connected) {
    background-color: #3b82f6;
    color: #f8fafc;
  }
}

.control-tray {
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  padding: 18px;
  width: 100%;

  .disabled .action-button,
  .action-button.disabled {
    background: rgba(0, 0, 0, 0);
    border: 1px solid #404547;
    color: #404547;
  }

  .connection-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;

    .connection-button-container {
      border-radius: 27px;
      border: 1px solid #404547;
      background: #f8fafc;
      padding: 10px;
    }

    .text-indicator {
      font-size: 11px;
      color: #3b82f6;
      user-select: none;
    }

    &:not(.connected) {
      .text-indicator {
        opacity: 0;
      }
    }
  }
}

.actions-nav {
  background: #f8fafc;
  border: 1px solid #404547;
  border-radius: 27px;
  display: inline-flex;
  gap: 12px;
  align-items: center;
  overflow: clip;
  padding: 10px;

  transition: all 0.6s ease-in;

  &>* {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }
}

@keyframes opacity-pulse {
  0% {
    opacity: 0.9;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.9;
  }
}